*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden ;
}

#sepet{
    height: 400px;
    width: 350px;
    background-color: whitesmoke;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    left: 140%;
    transition: all 1s linear;
    overflow: scroll;
    overflow-x: hidden;
    padding: 25px;
}

.aktif {
    left: -900% !important ;
}